<ion-view title="Contact Us" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="contactUs-list2">
      <ion-item class="item-divider" id="contactUs-list-item-divider1"> Call us on</ion-item>
      <ion-item class="positive" id="contactUs-list-item4" href="tel:9167418779" style="">9167418779</ion-item>
      <ion-item class="item-divider" id="contactUs-list-item-divider2"> Email us on</ion-item>
      <ion-item class="positive" id="contactUs-list-item5" href="mailto:rajepratishthan26@gmail.com" style="">rajepratishthan26@gmail.com</ion-item>
      <ion-item class="item-divider" id="contactUs-list-item-divider3"> Join us on</ion-item>
      <ion-item class="positive" id="contactUs-list-item6" href-inappbrowser="http:/www.google.com" style="">Raje Pratishthan</ion-item>
    </ion-list>
  </ion-content>
</ion-view>