<ion-view title="Home" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>सर्वांनी एकत्र येवून काही तरी बदल घडवूया ?</strong>
      </p>

      <p style="color:#000000;">
        <strong>"राजे प्रतिष्ठान"</strong> हि एक अशी संस्था आहे जी फक्त तुमच्या आणि आमच्यासाठी नसून जी सगळ्यांसाठी आहे. जेव्हा तुम्ही
        <strong>"राजे प्रतिष्ठान"</strong> चे पदाधिकारी किंवा सभासद बनता तेव्हा तुम्ही स्वतःसाठी आणि दुस-यासाठी काही तरी करून दाखवायची मनापासून तयारी करता आणि आपल्या आजूबाजूच्या परिसरात काही विपरीत तर घडत नाही आहे ना ह्याची दक्षता घेता आणि जर तसे घडत असेल तर
        ते सहन न करता आपण त्याच्या विरुद्ध आवाज उठवतो गरीब आणि गरजू लोकांवर अन्याय होत असेल तर आपण त्यांची मदत करतो.</p>

      <p style="color:#000000;">
        <strong>कृपया फक्त बसून राहू नका ? ऊठा काही तरी करून दाखवूया.</strong>
      </p>

      <p style="color:#000000;">
        <strong>"राजे प्रतिष्ठान"</strong> सामाजिक, शैक्षणिक आणि सांस्कृतिक कार्यक्रम सतत करत असते त्यामध्ये सहभागी व्हा संधी दवडू नका. चला एकमेकांच्या सहकार्याने आपण प्रत्येक नगरासाठी आणि नगरातील प्रत्येक गरीब आणि गरजू माणसासाठी काही तरी करून दाखवूया. सुरुवात
        इथून करूया बघता बघता कदाचित देशात बदल घडेल.</p>
    </div>
  </ion-content>
</ion-view>