<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div id="menu-container1">
        <div>
          <img src="img/LoNkQu0zTHa7UksU3ykY_splash.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close="" style="">Home</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.visionSndMission" menu-close="" style="">Vision and मिशन</ion-item>
        <ion-item id="menu-list-item3" href="#" href-inappbrowser="page3" style="">Contact Us
          <ion-option-button class="button-positive"></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>