<ion-view title="Our team" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="ourTeam-list-item-container1" style="">
      <div>
        <img src="img/rUWBn9ooTXq9PZfk3sYY_Jayendra.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="ourTeam-list3">
        <ion-item class="item-divider" id="ourTeam-list-item-divider4"> संस्थापक : जयेंद्र तुकाराम मयेकर</ion-item>
      </ion-list>
    </div>
    <div class="item item-body" id="ourTeam-list-item-container2" style="">
      <div>
        <img src="img/Zhyf6H5XRS2p28nNHv6v_Tushar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="ourTeam-list4">
        <ion-item class="item-divider" id="ourTeam-list-item-divider5"> अध्यक्ष : तुषार उदय रजपूत</ion-item>
      </ion-list>
    </div>
    <div class="item item-body" id="ourTeam-list-item-container4" style="">
      <div>
        <img src="img/fNwmjFSVSTGV54SmHvyO_Dattaram.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="ourTeam-list6">
        <ion-item class="item-divider" id="ourTeam-list-item-divider7"> सचिव : दत्ताराम सुरेश भानजी</ion-item>
      </ion-list>
    </div>
    <div class="item item-body" id="ourTeam-list-item-container3" style="">
      <div>
        <img src="img/LwvceqruTXa7GEIHDVuM_Santosh.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="ourTeam-list5">
        <ion-item class="item-divider" id="ourTeam-list-item-divider6"> खजिनदार : संतोष सुरेश भानजी</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>