<ion-view title="Vision snd Mission" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <h4 id="visionSndMission-heading1" style="color: rgb(0, 0, 0);">Vision</h4>
    <div id="visionSndMission-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is
        <strong>Vision</strong>
      </p>
    </div>
    <h4 id="visionSndMission-heading3" style="color: rgb(0, 0, 0);">Mission</h4>
    <div id="visionSndMission-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is
        <strong>Mission</strong>
      </p>
    </div>
  </ion-content>
</ion-view>